body{
    background-color: grey;
}
h1{
    text-align: center;
}
#calculette{
    background-color: black;
    width: 400px;
    position: relative;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 25px;
}
.firstSpan{
    margin-top: 10px;
    color: white;
    position: absolute;
    right: 5%;
    max-width: max-content;
}
input{
    margin-top: 20px;
    height: 50px;
    width: 90%;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 40px;
    font-size: 30px;
}
.row{
    display: flex;
    margin-bottom: 40px;
}
button{
    font-size: 40px;
    margin: auto;
    height: 50px;
    width: 50px;
}